@font-face {
    font-family: 'Cinzel';
    src: url('fonts/Cinzel Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Trajan-pro';
    src: url('fonts/Trajan Pro Regular.ttf') format('truetype')
}

body::before, body::after {
    content: '';
    display: none;
}

html, body {
    display: flex;
    flex-direction: column;
    background-color: beige;
    margin: 0; 
    min-height: 100vh;
    width: 100%;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3EBB75;
    width: 100%;
    height: 5%;
    box-sizing: border-box;
}

.header-links {
    display: flex;
    justify-content: flex-end;
}

.header-links h2 {
    font-size: 15px;
    margin-left: 20px;
}

h1, h2 {
    font-family: 'Cinzel', Arial, Helvetica, sans-serif;
    color: #271616;
}

h3 {
    font-family: 'Trajan-pro', Arial, Helvetica, sans-serif;
    color: #8B4513;
    text-align: center;
}

p, li {
    font-family: 'Trajan-pro', Arial, Helvetica, sans-serif;
    color: #8B4513;
}

.top-section {
    margin-bottom: -20px;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 40%;
    align-items: center;
}

.hero-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hero-image-section p {
    text-align: center;
}

#shrek-icon, #inside-church, #outside-church {
    height: 200px;
    width: 200px;
    margin: 0px 20px;
}

.mission-statement {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    position: absolute;
    right: 0;
    top: 70px;
    text-align: center;
}

.lower-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    position: relative;
}

.leadership-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    right: 0;
}

.leadership-info h2 {
    text-align: center;
}

.our-leaders {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    align-items: flex-start;
}

.our-leaders p {
    font-size: 14px;
    text-align: center;
}

.shrek, .donkey, .puss-n-boots {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30%;
    align-items: center;
}

#donkey-img, #shrek-img, #puss-n-boots-img {
    height: 200px;
    width: 200px;
    margin: 0px 45px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background: #3EBB75;
    width: 100%;
    height: 5%;
    box-sizing: border-box;
    margin-top: auto;
}

.contact-us {
    display: flex;
    justify-content: flex-end;
}

.contact-us h2 {
    font-size: 15px;
    margin-left: 20px;
}

.contact-us p {
    font-size: 15px;
    margin-left: 20px;
    font-family: 'Cinzel', Arial, Helvetica, sans-serif;
    color: #271616;
}