@font-face {
    font-family: 'Cinzel';
    src: url('fonts/Cinzel Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Trajan-pro';
    src: url('fonts/Trajan Pro Regular.ttf') format('truetype')
}

body::before, body::after {
    content: '';
    display: none;
}

html, body {
    position: relative;
    background-color: beige;
    margin: 0; 
    min-height: 125vh;
    width: 100%;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3EBB75;
    width: 100%;
    height: 5%;
    box-sizing: border-box;
}

.header-links {
    display: flex;
    justify-content: flex-end;
}

.header-links h2 {
    font-size: 15px;
    margin-left: 20px;
}

h1, h2 {
    font-family: 'Cinzel', Arial, Helvetica, sans-serif;
    color: #271616;
    text-align: center;
}

h3 {
    font-family: 'Trajan-pro', Arial, Helvetica, sans-serif;
    color: #8B4513;
    text-align: center;
}

p, li {
    font-family: 'Trajan-pro', Arial, Helvetica, sans-serif;
    color: #8B4513;
    font-size: 12px;
}

#event-calendar {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event {
    flex: 0 0 400px;
    box-sizing: border-box;
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
}

.button {
    height: 40px;
    width: 90px;
    margin: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#create-modal-btn {
    height: 30px;
    width: 150px;
    margin: 0px auto 15px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background: #3EBB75;
    width: 100%;
    height: 5%;
    box-sizing: border-box;
}

.contact-us {
    display: flex;
    justify-content: flex-end;
}

.contact-us h2 {
    font-size: 15px;
    margin-left: 20px;
}

.contact-us p {
    font-size: 15px;
    margin-left: 20px;
    font-family: 'Cinzel', Arial, Helvetica, sans-serif;
    color: #271616;
}