@font-face {
    font-family: 'Cinzel';
    src: url('fonts/Cinzel Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Trajan-pro';
    src: url('fonts/Trajan Pro Regular.ttf') format('truetype')
}
body::before, body::after {
    content: '';
    display: none;
}

html, body {
    display: flex;
    flex-direction: column;
    background-color: beige;
    margin: 0; 
    min-height: 100vh;
    width: 100%;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3EBB75;
    width: 100%;
    height: 5%;
    box-sizing: border-box;
}

.header-links {
    display: flex;
    justify-content: flex-end;
}

.header-links h2 {
    font-size: 15px;
    margin-left: 20px;
}

h1, h2 {
    font-family: 'Cinzel', Arial, Helvetica, sans-serif;
    color: #271616;
}

h3 {
    font-family: 'Trajan-pro', Arial, Helvetica, sans-serif;
    color: #8B4513;
    text-align: center;
}

p, li {
    font-family: 'Trajan-pro', Arial, Helvetica, sans-serif;
    color: #8B4513;
}

.left-section {
    width: 30%
}

.membership-info {
    align-items: center;
}

.signup-section {
    text-align: center;
}

#signup-form {
    display: flex;
    justify-content: space-between;
    font-family: 'Trajan-pro', Arial, Helvetica, sans-serif;
    color: #8B4513;
}

.form-column {
    flex: 1;
    margin: 0 10px;
}

#signup-btn {
    margin-top: 10px;
    height: 30px;
    width: 90px;
}

.login-section {
    text-align: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Trajan-pro', Arial, Helvetica, sans-serif;
    color: #8B4513;
    align-items: center;
}

#login-email, #login-btn {
    margin: 5px 0px;
    width: 200px;
}

.member-testimonials {
    position: absolute;
    right: 0;
    width: 60%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 75px 50px 0px 0px;
}

.member-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.member-blocks p {
    font-size: 14px;
    text-align: center;
}

.doris, .gingerbread-man, .pinocchio {
    margin: 0px 15px;
}

#doris-image, #gingerbread-man-image, #pinocchio-image {
    height: 275px;
    width: 200px;
    margin: 0px 50px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background: #3EBB75;
    width: 100%;
    height: 5%;
    box-sizing: border-box;
    margin-top: auto;
}

.contact-us {
    display: flex;
    justify-content: flex-end;
}

.contact-us h2 {
    font-size: 15px;
    margin-left: 20px;
}

.contact-us p {
    font-size: 15px;
    margin-left: 20px;
    font-family: 'Cinzel', Arial, Helvetica, sans-serif;
    color: #271616;
}